body,
footer {
  background-image: linear-gradient(to right, #0d0d0d 60%, #f5ed02);
}

body {
  font-family: 'Lato', sans-serif;
  color: #f5ed02;
}

h1 {
  font-size: 2.5vw;
}
h2 {
  font-size: 2.4vw;
}

.cart,
.search {
  position: fixed;
  top: 0;
  right: 0;
}
.search {
  right: 40px;
}

.logo,
h1,
h2 {
  display: flex;
  align-items: center;
  width: 50%;
  margin: auto;
}
.logo {
  size: %;
}

.genre {
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 100px;
  text-transform: uppercase;
}

footer {
  background-color: #0d0d0d;
  color: #f5ed02;
  text-align: center;
  min-height: 90px;
}

.buttons {
  text-align: center;
}
.cta {
  display: inline-block;
  width: calc(50% - 4px);
  background-color: #f5ed02;
  color: #0d0d0d;
  font-size: 1.4em;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  border-radius: 50px;
  width: 115px;
  height: 30px;
  text-align: center;
  margin: 50px 200px;
}

.cta_buy {
  background-color: #f5ed02;
  color: #0d0d0d;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  border-radius: 50px;

}


/*home page movies*/

.action,
.animation,
.drama,
.horror {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  max-width: 1000px;
  margin: 50px auto;
  grid-gap: 10px;
}
/*navbar*/
#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked+.menu__btn>span {
  transform: rotate(45deg);
}

#menu__toggle:checked+.menu__btn>span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu__toggle:checked+.menu__btn>span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
  left: 0 !important;
}

.menu__btn {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #f5ed02;
  transition-duration: .25s;
}

.menu__btn>span::before {
  content: '';
  top: -8px;
}

.menu__btn>span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #0d0d0d;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #f5ed02;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}

.menu__item:hover {
  background-color: #333320;
}

/*Navbar end*/



@media only screen and (max-width: 850px) {

  .action,
  .animation,
  .drama,
  .horror {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 50px;
    }
    
}

